.main {

}

.content {
  margin: 0 auto;
  width: 600px;
}

.add-item-container {
  margin: 5px;
}

textarea {
  font-size: 20px;
  width: 400px;
}

.action-button {
  width: 50%;
  position: sticky;
  top: 0;
}

.list-container {
  max-height: 600px;
  overflow: auto;
}
