<div>
  <button
    class="completed-back"
    mat-icon-button
    (click)="onCompleteClick.emit()"
    [disabled]="actionToDisable === 1">
    <mat-icon>task_alt</mat-icon>
  </button>
  <button
    class="removed-back"
    style="margin: 0 5px 0 5px"
    mat-icon-button (click)="onDeleteClick.emit()"
    [disabled]="actionToDisable === 2">
    <mat-icon>delete</mat-icon>
  </button>
  <button
    class="created-back"
    mat-icon-button
    (click)="onRefreshClick.emit()"
    [disabled]="actionToDisable === 0">
    <mat-icon>published_with_changes</mat-icon>
  </button>
</div>
